.shape-icon {
  width: 26.7px;
  height: 13.3px;
  position: relative;
  border-radius: 3px;
}
.frame-wrapper,
.shape-wrapper {
  display: flex;
  flex-direction: column;
}
.shape-wrapper {
  width: 56px;
  height: 56px;
  border-radius: 100px;
  background-color: var(--color-indianred-100);
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.frame-wrapper {
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) 0 0;
}
.better,
.kennel {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  min-width: 103px;
  flex-shrink: 0;
}
.kennel {
  min-width: 113px;
}
.better-parent,
.frame-parent,
.kennel-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.kennel-wrapper {
  height: 34px;
  flex-direction: row;
  padding: 0;
  box-sizing: border-box;
}
.better-parent,
.frame-parent {
  flex: 1;
  flex-direction: column;
}
.frame-parent {
  flex-direction: row;
  gap: 10px;
}
.container-inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 56px var(--padding-2xs-5);
  text-align: left;
}
.welcome-back {
  margin: 0;
  font-weight: 500;
}
.blank-line {
  margin: 0;
  font-size: var(--paragraph-2-regular-size);
  font-family: var(--paragraph-2-regular);
}
.login-to-your {
  margin: 0;
  font-weight: 500;
}
.welcome-back-login-container {
  position: relative;
}
.form-title {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-43xl) var(--padding-4xs);
}
.message-icon1 {
  width: 20px;
  height: 18px;
  position: relative;
}
.message-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.email {
  width: 102px;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--font-athiti);
  font-size: var(--paragraph-2-regular-size);
  background-color: transparent;
  height: 22px;
  position: relative;
  color: rgba(50, 50, 50, 0.45);
  text-align: left;
  display: flex;
  align-items: center;
  padding: 0;
}
.email-password {
  align-self: stretch;
  border-radius: var(--br-9xs);
  border: 1.3px solid var(--color-darkslategray-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 7px 4px var(--padding-4xs);
  gap: 10.5px;
  cursor: pointer;
}
.iconlylightpassword {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.email-input,
.email-input-child,
.input-fields {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.email-input-child {
  width: 69px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 22px;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  font-family: var(--font-athiti);
  font-weight: 500;
  font-size: var(--paragraph-2-regular-size);
  color: rgba(50, 50, 50, 0.5);
}
.email-input,
.input-fields {
  align-self: stretch;
}
.email-input {
  border-radius: var(--br-9xs);
  border: 1.3px solid var(--color-darkslategray-100);
  overflow: hidden;
  flex-direction: row;
  padding: 6px var(--padding-11xs) 8px;
  gap: 12.5px;
}
.input-fields {
  flex-direction: column;
  gap: 16px;
}
.recover-password {
  position: relative;
  display: inline-block;
  min-width: 123px;
  cursor: pointer;
}
.recover-password-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  font-size: var(--paragraph-2-regular-size);
  color: var(--color-indianred-100);
  font-family: var(--paragraph-2-regular);
}
.login-form,
.login-form-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.login-form {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xl);
}
.login-form-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-sm);
  font-size: var(--font-size-base);
  color: #313639;
}
.sign-up {
  color: var(--color-indianred-100);
}
.dont-have-an-container {
  position: relative;
  cursor: pointer;
}
.dont-have-an-account-sign-up-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 58px;
}
.login1 {
  flex: 1;
  position: relative;
  font-size: 18px;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
}
.buttons {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs-5) 16px;
  background-color: var(--color-indianred-100);
  align-self: stretch;
  border-radius: var(--br-xs);
  flex-direction: row;
}
.buttons:hover {
  background-color: #e86161;
}
.buttons,
.container,
.frame-group,
.login {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-group {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-5xl);
  font-size: var(--paragraph-2-regular-size);
  color: #8b8d97;
  font-family: var(--paragraph-2-regular);
}
.container,
.login {
  box-sizing: border-box;
}
.container {
  width: 396px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  flex-direction: column;
  padding: 97.5px 34px 96px;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.login {
  width: 100%;
  height: 1024px;
  position: relative;
  background-color: #f4f5fa;
  overflow: hidden;
  flex-direction: row;
  padding: 180px 499px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-indianred-100);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1200px) {
  .login {
    padding-left: var(--padding-230xl);
    padding-right: var(--padding-230xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .better,
  .kennel {
    font-size: var(--font-size-7xl);
  }
}
@media screen and (max-width: 750px) {
  .container,
  .login {
    box-sizing: border-box;
  }
  .container {
    padding-top: 63px;
    padding-bottom: var(--padding-43xl);
  }
  .login {
    padding-left: var(--padding-105xl);
    padding-right: var(--padding-105xl);
  }
}
@media screen and (max-width: 450px) {
  .better,
  .kennel {
    font-size: var(--font-size-lgi);
  }
  .container-inner,
  .dont-have-an-account-sign-up-wrapper,
  .form-title,
  .login {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
